.list{
  /* padding-top: 10px;
  padding-bottom: 10px; */
}
.listItem{
  padding-left: clamp(var(--size-md),2vw,var(--size-lg));
  padding-right: clamp(var(--size-md),2vw,var(--size-lg));
}
.listItem:hover{
  background-color: var(--light-bg);
}
.listItem:hover .listOptions{
  display: block;
}
.listItemWrap{
  gap: 1.4rem;
  /* padding-top: clamp(var(--size-md), 2vw, var(--size-lg));
  padding-bottom: clamp(var(--size-md), 2vw, var(--size-lg)); */
  padding-top: clamp(0.625rem, 2vw, 0.875rem);
  padding-bottom: clamp(0.625rem, 2vw, 0.875rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid var(--light-bg); */
  
}
.listItemLeft{
  display: flex;
  gap: 0.625rem;
}
.listItemActive{
  background-color: var(--light-bg);
}
.listImgWrap{
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
}
.itemContent{
  /* flex: 1; */
}
.itemHeading{
    display: flex;
    align-items: center;
    gap: .4rem;
}
.itemImg{
  border-radius: 10px;
  overflow: hidden;
}
.itemImg img{
  display: block;
}
.itemStatus{
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: green;
    border: 3px solid white;
}
.itemStatusText{
  color: var(--muted-text);
}
.listOptions{
  /* display: none; */
}
.listOptionsRow{
  display: flex;
  align-items: center;
  gap: 5px;
}
.itemList{
  display: flex;
}
.itemListLi:not(:first-child){
  position: relative;
  padding-left: 16px;
}
.itemListLi:not(:first-child):before{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--muted-text);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.listOptionsItems{
  display: flex; 
  align-items: center;
  gap: 4px;
  color: var(--muted-text);
  cursor: pointer;
}
.copyIcon{
  position: relative;
  cursor: pointer;
}
.copyIcon:hover .copyIconText{
  transform: translate(-50%,-120%) scale(1);
}
.copyIconText{
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 0.25rem;
  padding: .3rem .6rem;
  line-height: normal;
  left: 50%;
  top: 0;
  white-space: nowrap;
  transform: translate(-50%,-120%) scale(0);
  transition: .2s;
  transform-origin: bottom;
  z-index: 1;
}

.itemTitle{
  display: inline-block;
}
.detailsCount{
  margin-left: .2rem;
  background-color: var(--light-bg);
  color: var(--muted-text);
  padding: .2rem;
  border-radius: .4rem;
  font-size: clamp(0.75rem,2vw,0.875rem);
}

.itemMeta{
  display: flex;
}