.app{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box{
  border-radius: 10px;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0px 0px 10px #00000074;
  width: 60%;
}

.search-input-wrap{
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.search-input{
  border: none;
  margin: 0 6px;
  padding: 4px 6px;
  width: 100%;
}

.clear{
  text-decoration: underline;
  font-size: .8rem;
}

.category{
  position: relative;
  border-bottom: 2px solid var(--light-bg);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: var(--muted-text);
}

.category-list{
    display: flex;
    list-style: none;
    gap: 10px;
}

.category-item{
  font-size: .8rem;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 4px;
  padding-bottom: 2px;
}

.category-item-active{
  color: var(--text-color);
  border-bottom: 2px solid black;
}

.category-box-list{
  list-style: none;
}

.category-item-count{
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--light-bg);
  font-size: .6rem;
  line-height: 1;
}

.list{
  padding: 10px 15px;
}
.list-item{
  border-bottom: 2px solid var(--light-bg);
  padding: 10px 0;
  display: flex;
  align-items: start;
  gap: 14px;
}
.list-img-wrap{
  position: relative;
}
.item-img{
  border-radius: 10px;
  overflow: hidden;
}
.item-img img{
  display: block;
}
.item-status{
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: green;
  border: 3px solid white;
}
.item-status-text{
  font-size: .8rem;
  display: block;
  color: var(--muted-text);
}
