:root {
 /* #e0e0e0 - body bg */
 /* #0f0f0f - text color */
 /* #9a9a9a - muted text color */
 /* #f2f2f2 - light bg */
 --body-bg : #e0e0e0;
 --text-color : #0f0f0f;
 --muted-text : #9a9a9a;
 --light-bg : #f2f2f2;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);
}

input,
textarea,
select,
button {
  font-family: inherit; /* take from body */
}


/* input:focus {
  outline: none;
  border: 2px solid #4f46e5;
  box-shadow: 0 0 0 1px rgba(79, 70, 229, 0.3);
  border-radius: 6px;
} */

.border{
  border: 1px solid var(--muted-text);
}

.icon {
  line-height: 1;
}